@model News.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Contents/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <link href="/Contents/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- Loading Bootstrap -->
    <link href="/Contents/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/Contents/css/flat-ui.min.css" rel="stylesheet">
    <link href="/Contents/css/style.css" rel="stylesheet">
    <!-- Loading Fonts -->
    <link href="/Contents/css/font-awesome.css" rel="stylesheet">
    <link href="/Contents/css/icomoon.css" rel="stylesheet">
    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'-->
    <link rel="shortcut icon" href="~/Contents/img/favicon.ico">
    <script src="/Scripts/jquery-1.7.1.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/scripts.js"></script>

</head>
<body style="font-family:'Comic Sans MS'">
    <div id="wrapper-main-ead">
        <header>
            <nav>

                <div id="search-wrapper-ead" class="vertical-center-ead">
                    <div class="input-group " style="width:250px">
                        <div class="input-group-addon  input-sm  " style="background-color:darkcyan"><span class="icon-earth" style="color:whitesmoke"></span></div>
                        <p class="form-control input-sm badge " style="border-color:darkcyan;width:250px; background-color:white" id="search-input"><h6><strong style="color:orange">News Box</strong></h6></p>
                    </div>
                </div>
            </nav>
            <ul id="account-manage-options-ead" class="vertical-center-ead">
                <li>
                    <span class="icon-profile" style="color:darkcyan"></span>
                    <span><a href="Wall" style="color:orange">Wall</a></span>
                </li>
                <li>
                    <span class="icon-earth " style="color:darkcyan"></span>
                    <span><a href="NewFeeds" style="color:orange">News Feeds</a></span>
                </li>
                <li>
                    <span class="icon-sad " style="color:red"></span>
                    <span>  <a href="/User/Logout" style="color:red">SignOut</a></span>
                </li>
            </ul>
        </header>
        <div id="wrapper-content-ead">
            <div class="container-fluid">
                <div class="row">
                    <div id="main-content-ead" class="col-sm-10 col-sm-offset-1">
                        <div id="content-panel-ead" class="panel panel-default">
                            <div id="content-body-ead">
                                <div class="content-post-ead">
                                    <header>
                                        <h2><span id="content-title-ead">Tags</span></h2>
                                    </header>
                                    @*<form id="post-form-ead">*@
                                    @using (Html.BeginForm("AddTags", "User", FormMethod.Post, new { id = "profile-form-ead" }))
                                    {
                                        <div class="input-group">
                                            <div class="input-group-addon input-sm"><span class="icon-price-tags"></span></div>
                                            <textarea style="width:98.5%;height:inherit; resize:none; text-align:left;color:darkcyan;font-size:medium;" disabled="disabled">
                                                @foreach (var p in @Model.Tags.ToList<News.Models.Tag>())
                                                {
                                                    @p.tags.ToString().Insert(0, "#").Insert(@p.tags.ToString().Insert(0, "#").Length, " ").ToLower();
                                                }
                                            </textarea>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-addon input-sm"><span class="icon-facebook"></span></div>
                                            <div class=" input-lg">
                                                <input type="text" name="tags" placeholder="#abc#123#username" />
                                                @*@Html.TextBoxFor("tags","", new { id = "signup-password", placeholder = "#abc#123#username" })*@
                                                @*   @Html.ValidationMessageFor(model => model.password)*@
                                            </div>
                                        </div>

                                        <button class="pull-right btn-social-facebook" style="background-color:orange; text-indent:2px each-line ">Follow</button>
                                    }                                    @*</form>*@
                                </div>
                            </div>
                            <!--footer>
                              <span>Footer</span>
                            </footer-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>

    <script type="text/javascript">
        $('#editor-ead').editable({ inlineMode: false })
    </script>
</body>
</html>
